@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #ffecec;
}

@tailwind components;

.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.3rem;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  border-radius: 20rem;
  background: #c53007;
  transition: width 0.3s, transform 0.3s;
  /* background: linear-gradient(90deg, #af472a, #f08e81); */
  /* background: linear-gradient(90deg, #ffecec, #f08e81); */
}

.link:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1.2);
}

.active::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1.2);
}

.dropdown-items:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: red; /* Adjust the color as needed */
  border-radius: 0 2px 2px 0; /* Adjust the border radius as needed */
}

@tailwind utilities;

.w-max-content {
  width: max-content;
}
