@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

@tailwind components;



@tailwind utilities;
